h1, h2 {
  text-align: center;
  margin-top: 10px;
}

p {
  text-align: center;
}

li {
  list-style: none;
  padding: 10px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-family: serif;
  color: black;
}
