body {
  background-color: #EFEFEF;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: #FF3B3F;
  font-family: 'Cabin', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #A9A9A9;
  font-family: 'Cabin', sans-serif;
}

h3 {
  color: #A9A9A9;
  font-family: 'Cabin', sans-serif;
}

p {
  /*text-align: center;*/
  font-family: 'Old Standard TT', serif;
  font-size: 1.1rem;
}

li {
  list-style: none;
  padding: 0px 40px;
  font-family: 'Old Standard TT', serif;
}

a {
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  color: #787474;
  font-size: 1rem;
}

a:hover {
  font-weight: bold;
}

hr {
  max-width: 70%;
  color: #FF3B3F;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-less {
  display: none;
  color: #FF3B3F;
}

.read-on {
  color: #FF3B3F;
}

dt, dd {
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  color: #787474;
  font-size: 1rem;
}
