header {
  display: flex;
  flex-direction: column;
  background-color: #CAEBF2;
  border-radius: 5px;
  max-width: 98%;
  margin: 5px auto;
}

.clearfix {
  max-width: 80%;
  margin: auto;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.about-me {
  max-width: 80%;
  text-align: center;
  margin: auto;
}
